@using PagedList;
@using PagedList.Mvc;
@using Frogger_Blogger.Models
@model IPagedList<BlogPost>



@{
    ViewBag.Title = "Index";
}


<link href="~/Content/StyleSheet1.css" rel="stylesheet" />


<!--================ Header Menu Area =================-->
<!--in Layout-->
<!--================ Header Menu Area =================-->
<!--================ Post Slider Area =================-->
<section class="s-featured">
    <div class="row">
        <div class="col-full">

            <div class="featured-slider featured" data-aos="zoom-in">


                @foreach (var item in Model)
                {
                    if (item.MediaUrl != null)
                    {



                        <div class="featured__slide">
                            <div class="entry">

                                <div class="entry__background" style="background-image:url('@Url.Content(item.MediaUrl)');"></div>

                                <div class="entry__content">
                                    <span class="entry__category"><a href="#0"></a></span>

                                    <h1><a href="@Url.Action("Details", "BlogPosts", new { Slug = item.Slug })" title="">@Html.DisplayFor(modelItem => item.Title)</a></h1>
                                    <p><h4>@Html.DisplayFor(modelItem => item.Abstract)</h4></p>
                                    <div class="entry__info">

                                        <ul class="entry__meta center">
                                            <li><a href="#0">@Html.DisplayFor(modelItem => item.Email)</a></li>
                                            <li>@Html.DisplayFor(modelItem => item.Created)</li>
                                        </ul>
                                    </div>
                                </div>
                            </div> <!-- end entry__content -->

                        </div> <!-- end entry -->


                        <!-- end featured__slide -->
                        @*<div class="item">
                                <div class="post_s_item">
                                    <div class="imgsize">

                                        <img src="@Html.DisplayFor(modelItem => item.MediaUrl)" alt="">
                                    </div>
                                    <div class="post_text">
                                        <a class="cat" href="#">Gadgets</a>
                                        <a href="@Url.Action("Details", "BlogPosts", new { Slug = item.Slug })"><h4>@Html.DisplayFor(modelItem => item.Title)</h4></a>
                                        <p>@Html.DisplayFor(modelItem => item.Abstract)</p>
                                        <div class="date">
                                            <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>@Html.DisplayFor(modelItem => item.Created)</a>
                                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                    }
                }

            </div>
        </div>
    </div>
</section>
<br />
<!--================End Post Slider Area =================-->
<!--================Blog Area =================-->
<section class="blog_area p_120">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog_left_sidebar">
                    <div class="blog_img">

                        <img class="img-fluid" src="~/Images/img/home-blog/blog-1.jpg" width="770" height="340" alt="">
                    </div>
                    @foreach (var item in Model)
                    {
                        if (item.MediaUrl == null)
                        {
                            if (item.Abstract != null)
                            {
                                <article class="blog_style1">


                                    <div class="blog_text">
                                        <div class="blog_text_inner">

                                            <a href="@Url.Action("Details", "BlogPosts", new { Slug = item.Slug })"><h4>@Html.DisplayFor(modelItem => item.Title)</h4></a>
                                            <H2><p>@Html.DisplayFor(modelItem => item.Abstract)</p></H2>
                                            <p>@Html.Raw(item.Body)</p>
                                            <div class="date">
                                                <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> </a>
                                                <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            }
                        }
                    }
                    @foreach (var item in Model)
                    {
                        if (item.MediaUrl == null)
                        {
                            if (item.Abstract == null)
                            {

                                <div class="row">
                                    <div class="col-md-6 ">
                                        <article class="blog_style1 small">
                                            <div class="blog_img">
                                                <img class="img-fluid" src="img/home-blog/blog-small-1.jpg" alt="">
                                            </div>
                                            <div class="blog_text">
                                                <div class="blog_text_inner">
                                                    <a class="cat" href="#">Gadgets</a>
                                                    <a href="@Url.Action("Details", "BlogPosts", new { Slug = item.Slug })"><h4>@Html.DisplayFor(modelItem => item.Title)</h4></a>
                                                    <p>@Html.Raw(item.Body)</p>
                                                    <div class="date">
                                                        @Html.DisplayFor(modelItem => item.Created)
                                                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 05</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </div>

                                </div>
                            }
                        }
                    }

                    @*@*<nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Previous">
                                        <span aria-hidden="true">
                                            <span class="lnr lnr-chevron-left"></span>
                                        </span>
                                    </a>
                                </li>

                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Next">
                                        <span aria-hidden="true">
                                            <span class="lnr lnr-chevron-right"></span>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </nav>*@

                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                        <div class="input-group">
                            @using (Html.BeginForm("Index", "BlogPosts", FormMethod.Get, htmlAttributes: new { @class = "form" }))
                            {
                                <div class="custom-controls-stacked controls-row search-row">
                                    <input id="searchStr" name="searchStr" class="input-block-level" type="text" placeholder="Search Blog" />
                                    <button id="searchStr" name="searchStr" class="btn submit_btn btnLarge" type="submit">
                                        Search
                                        <i class="icon-search"></i>
                                    </button>
                                </div>

                            }

                        </div><!-- /input-group -->
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget author_widget">
                        <img class="author_img rounded-circle" src="img/blog/author.png" alt="">
                        <h4>Charlie Barber</h4>
                        <p>Senior blog writer</p>
                        <div class="social_icon">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                            <a href="#"><i class="fa fa-behance"></i></a>
                        </div>
                        <p>Boot camps have its supporters andit sdetractors. Some people do not understand why you should have to spend money on boot camp when you can get. Boot camps have itssuppor ters andits detractors.</p>
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">Popular Posts</h3>
                        <div class="media post_item">
                            <img src="~/Images/img/FavSM.ico" alt="post">

                            <div class="media-body">
                                <a href="blog-details.html"><h3>Space The Final Frontier</h3></a>
                                <p>02 Hours ago</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="img/blog/popular-post/post2.jpg" alt="post">
                            <div class="media-body">
                                <a href="blog-details.html"><h3>The Amazing Hubble</h3></a>
                                <p>02 Hours ago</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="img/blog/popular-post/post3.jpg" alt="post">
                            <div class="media-body">
                                <a href="blog-details.html"><h3>Astronomy Or Astrology</h3></a>
                                <p>03 Hours ago</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="img/blog/popular-post/post4.jpg" alt="post">
                            <div class="media-body">
                                <a href="blog-details.html"><h3>Asteroids telescope</h3></a>
                                <p>01 Hours ago</p>
                            </div>
                        </div>
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget">
                        <a href="#"><img class="img-fluid" src="img/blog/add.jpg" alt=""></a>
                        <div class="br"></div>
                    </aside>

                    <aside class="single-sidebar-widget tag_cloud_widget">
                        <h4 class="widget_title">Tag Clouds</h4>
                        <ul class="list">
                            <li><a href="#">Technology</a></li>
                            <li><a href="#">Fashion</a></li>
                            <li><a href="#">Architecture</a></li>
                            <li><a href="#">Fashion</a></li>
                            <li><a href="#">Food</a></li>
                            <li><a href="#">Technology</a></li>
                            <li><a href="#">Lifestyle</a></li>
                            <li><a href="#">Art</a></li>
                            <li><a href="#">Adventure</a></li>
                            <li><a href="#">Food</a></li>
                            <li><a href="#">Lifestyle</a></li>
                            <li><a href="#">Adventure</a></li>
                        </ul>
                    </aside>
                </div>
            </div>
            <br>
            <hr />
            <div class="col-md-12 text-center center">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </div>
        </div>
    </div>
</section>
<!--================Blog Area =================-->
<!--================ start footer Area  =================-->
<!--================ End footer Area  =================-->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

@section scripts{
    <script src="~/Scripts/Wordsmith.js"></script>
}





<style>
    .imgsize {
        width: 400px;
        height: 700px;
        background-color: black;
    }

    .btnLarge {
        cursor: pointer
    }

    .slick-slide {
        float: left;
        min-height: 1px;
        display: none;
    }
</style>
